@model IEnumerable<StudentSystem_Model.Models.StudentCourse>

@{
    ViewData["Title"] = "Index";
}

<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Student Name</th>
            <th>Student Name</th>
        </tr>
    </thead>
</table>
