@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
    <form>
        <fieldset>
            <legend>Login</legend>
            <div class="form-group mb-3">
                <label for="Email" class="control-label">Email</label>
                <input id="Email" name="Email" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label for="Password" class="control-label">Password</label>
                <input id="Password" name="Password" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>
</body>
</html>
