@using Microsoft.AspNetCore.Http
@{
    var adminName = Context.Session.GetString("adminName");
    ViewData["Title"] = $"Welcome {adminName}";
}

<div class="text-center">
    <h1 class="display-4">Welcome @adminName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
